@use "../../styles/mixin/colors" as colors;
@use "../../styles/mixin/screens" as screens;

.login,
.signup {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 65px 0 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: colors.$white;
  .login_form,
  .signup_form {
    min-height: 520px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: colors.$background-dark;
    padding: 1rem 1.2rem;
    z-index: 2;
    .form-input {
      width: 100%;
      margin-bottom: 0.2rem;
      p {
        width: 300px;
        visibility: hidden;
        font-size: 0.875rem;
        line-height: 1.25rem;
        color: colors.$primary;
        .MuiSvgIcon-root {
          width: 0.8rem;
          height: 0.8rem;
          color: colors.$danger-primary;
        }
      }
      input {
        width: 300px;
        padding: 0.5rem;
        background-color: colors.$white;
        &:invalid.focused ~ p {
          visibility: visible;
        }
      }
    }
    .btn {
      width: 50%;
      margin: 0.5rem auto;
    }
    .login_form_persist-check {
      font-size: 0.75rem;
      margin-top: 10px;
      display: flex;
    }
    .login_form_link,
    .signup_form_link {
      button {
        background-color: transparent;
        margin: 0 0.5rem;
        padding: 0.2rem;
        color: colors.$white;
        border-bottom: 1px solid colors.$white;
        &:hover {
          font-weight: bold;
        }
      }
    }
  }
}
